@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Outfit:wght@500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: 'Outfit', sans-serif;
}

.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background: lime; /* Just to visualize the extent */
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    border-collapse: collapse;
}