.searchbar {
    border: none;
    background-color: transparent;
    height: 40px;
    color: #ddd;
    font-size: 15px;
    padding-left: 1em;
    width: 35rem
}

.searchbar:focus {
    outline: none
}

.searchbar::placeholder {
    font-weight: lighter;
    color: #888
}