.inner-hover {
    background-color: #f4f4f5
}

.outer-hover:hover .inner-hover {
    background-color: #a757f2;
}

.slider-pin {
    visibility: hidden;
}

.outer-hover:hover .slider-pin {
    visibility: visible;
}